<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerIpAddress" value="192.168.0.102"/>
    <add key="ServerPort" value="25001"/>
    <add key="RecoveryFilepath" value=".\recovery_file.dat"/>
  </appSettings>
</configuration>